<% layout('layouts/BoilerPlate') %>

    <div class="row">
        <h1 class="text-center">Edit Watching Spot</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/watchingspots/<%= ws._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" id="title" name="watchingspot[title]"
                        value="<%= ws.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" id="location" name="watchingspot[location]"
                        value="<%= ws.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add Pictures:</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="typeOfOwl">Type of Owls: </label>
                    <input class="form-control" type="text" id="typeOfOwl" name="watchingspot[typeOfOwl]"
                        value="<%= ws.typeOfOwl %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid type of owls.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" type="text" id="description" name="watchingspot[description]"
                        required><%= ws.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid description.
                    </div>
                </div>
                <div class="mb-3">
                    <% ws.images.forEach( function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" >
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%= i %>">Check to Delete</label>
                    <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Watching Spot</button>
                </div>
            </form>
            <a href="/watchingspots">Back</a>
        </div>
    </div>