<% layout('layouts/BoilerPlate') %>
    <h1>All Owls Watching Spots</h1>

    <% for (let ws of watchingspots) { %>
        <div class="card" mb-3>
            <div class="row" mb-5>
                <div class="col-md-4">
                    <% if (ws.images.length) { %>
                    <img class="img-fluid" alt="" src="<%= ws.images[0].url %>">
                    <% } else { %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/owlstudio/image/upload/v1642387655/owls-watch/c5phbh9osr0dfcbtwrht.png">   
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= ws.title %>
                        </h5>
                        <p class="car-text">
                            <%= ws.description %>
                        </p>
                        <p class="car-text">
                            <small class="text-muted">
                                <%= ws.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/watchingspots/<%=ws._id%>">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>